
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
        <tr>
            <td>{{item.common_name}}</td>
            <td>{{item.qty}}</td>
            <td>${{"%0.2f" | format(item.price)}}</td>
            <td>${{"%0.2f" | format(item.total_melon_price)}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Total: {{total_cost}}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
